.con-list {
    display: flex;
    flex-direction: column;
    width: 100%;

    .con-item:first-child {
        padding-bottom: 13px;

        * {
            font-family: freesentation-bold;
        }
    }

    .con-item .p-name[data-empty="true"] {
        color: gray;
    }

    .con-item {

        --address-width: 200px;
        
        padding: 3px;
        padding-left: var(--section-pad);
        padding-right: var(--section-pad);

        display: flex;
        flex-direction: row;
        align-items: center;
        white-space: nowrap;
        
        /*  프로토콜  */
        >div:nth-child(1) {
            width: 50px;
            min-width: 50px;
            max-width: 50px;
        }

        /*  로컬주소  */
        >div:nth-child(2) {
            width: var(--address-width);
            min-width: var(--address-width);
            max-width: var(--address-width);
        }

        /*  외부주소  */
        >div:nth-child(3) {
            width: var(--address-width);
            min-width: var(--address-width);
            max-width: var(--address-width);
        }

        /*  연결상태  */
        >div:nth-child(4) {
            width: 150px;
            min-width: 150px;
            max-width: 150px;
        }

        /*  프로세스  */
        >div:nth-child(5) {
            flex: 1;
        }
    }
}