:root {
    --main-blue: #2196F3;
}

body {
    margin: 0;
}

* {
    font-size: 17px;
    font-family: freesentation-regular;
    box-sizing: border-box;
}

#app {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}